%div.container
  %h1 New Text Message

  .flash-messages

  = form_with(model: @sms, format: :js, id: :new_text_message, url: controller.url_for(@sms), action: :create, method: :post, local: false, data: { type: :json }) do |form|
    = render(partial: 'form' , locals: { f: form })

%link{ crossorigin: 'anonymous', href: 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity: 'sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', rel: 'stylesheet' }/